@model IEnumerable<FleetManagement.Application.Aircrafts.DTOs.AircraftDto>

@if (Model != null && Model.Any())
{
    <div id="aircraftList" class="aircraft-grid">
        @foreach (var aircraft in Model)
        {
            @Html.Partial("_AircraftCard", aircraft)
        }
    </div>
}
else
{
    @Html.Partial("_EmptyAircraftListPartial")
}